<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267405870878-qfg219ejfiio8liq5gjjjbpnbii3q4p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267405870878-qfg219ejfiio8liq5gjjjbpnbii3q4p8</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Bu3VvXGbHOv6YeRkeVzIaoNRxTr9UuY</string>
	<key>GCM_SENDER_ID</key>
	<string>267405870878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learning.BookXpert</string>
	<key>PROJECT_ID</key>
	<string>bookxpert-7e8bd</string>
	<key>STORAGE_BUCKET</key>
	<string>bookxpert-7e8bd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267405870878:ios:5a66c53eedada1f1dfeb0f</string>
</dict>
</plist>